services:
  medical-tourism-app:
    build: .
    ports:
      - "5050:5050"
    env_file:
      - ./.env
    depends_on:
      mysql:
        condition: service_healthy
    restart: always

  mysql:
    image: mysql:8.0
    env_file:
      - ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 3s
      timeout: 3s
      retries: 30
  
  mongo:
    image: mongo:7.0
    container_name: medical_mongo
    restart: always
    ports:
      - "27017:27017"
    env_file:
      - ./.env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - mongo_data:/data/db
    #healthcheck:
    #  test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
    #  interval: 5s
     # timeout: 5s
   #   retries: 10

volumes:
  mysql_data:
  mongo_data: